<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla Mixed Reality Social Client Lobby</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{asset "lobby-vendor.css"}}">
    <link rel="stylesheet" href="{{asset "lobby.css"}}">
    <script src="{{asset "manifest.js"}}"></script>
    <script src="{{asset "lobby-vendor.js"}}"></script>
  </head>
  <body>
      <div id="root"></div>
      <script>window.CONFIG = {{toJSON config.global}};</script>
      <script src="{{asset "lobby.js"}}"></script>
  </body>
</html>
