<html>

<head>
    <meta charset="utf-8">
    <title>Mozilla Mixed Reality Social Client</title>

    {{#if config.originTrialToken }}
    <meta http-equiv="origin-trial" data-feature="WebVR (For Chrome M62+)" data-expires="{{ config.originTrialExpires }}" content="{{{ config.originTrialToken }}}">
    {{/if}}

    <link rel="stylesheet" href="{{asset "room.css"}}">

    <script>window.CONFIG = {{toJSON config.global}};</script>
    <script src="{{asset "manifest.js" }}"></script>
    <script src="{{asset "room-vendor.js" }}"></script>
    <script src="{{asset "room.js" }}"></script>
    <meta charset="UTF-8">
    <style>
        .a-enter-vr {
            top: 90px;
            bottom: auto;
        }
        #loader {
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: 10001;
            background: #eaeaea no-repeat url({{asset "assets/loading.gif" }}) center center;
            opacity: 0.9;
        }
    </style>
</head>

<body>
    <div id="loader"></div>
    <a-scene
        networked-scene="adapter: janus;
                         audio: true;
                         debug: true;
                         onConnect: App.onConnect;
                         connectOnLoad: false;"
        mute-mic="eventSrc: a-scene; toggleEvents: action_mute"
        2d-mute-state-indicator
        light="defaultLightsEnabled: false">

        <a-assets>
            <a-asset-item id="bot-skinned-mesh" response-type="arraybuffer" src="{{asset "assets/avatars/Bot_Skinned.glb" }}"></a-asset-item>
            <a-asset-item id="watch-model" response-type="arraybuffer" src="{{asset "assets/hud/watch.glb"}}"></a-asset-item>

            <a-asset-item id="meeting-space1-mesh" response-type="arraybuffer" src="{{asset "assets/environments/MeetingSpace1_mesh.glb"}}"></a-asset-item>
            <a-asset-item id="outdoor-facade-mesh" response-type="arraybuffer" src="{{asset "assets/environments/OutdoorFacade_mesh.glb"}}"></a-asset-item>
            <a-asset-item id="floor-nav-mesh" response-type="arraybuffer" src="{{asset "assets/environments/FloorNav_mesh.glb"}}"></a-asset-item>
            <a-asset-item id="cliff-vista-mesh" response-type="arraybuffer" src="{{asset "assets/environments/CliffVista_mesh.glb"}}"></a-asset-item>

            <img id="water-normal-map" src="{{asset "assets/waternormals.jpg"}}"></a-asset-item>

            <!-- Templates -->

            <template id="video-template">
                <a-entity class="video" geometry="primitive: plane;" material="side: double" networked-video-player></a-entity>
            </template>

            <template id="remote-avatar-template">
                <a-gltf-entity src="#bot-skinned-mesh" inflate="true">
                    <template data-selector=".Head">
                        <a-entity
                            networked-audio-source
                            networked-audio-analyser
                            matcolor-audio-feedback="objectName: Head_Mesh"
                            scale-audio-feedback
                            personal-space-invader
                            animation-mixer
                        >
                            <a-entity
                                class="nametag"
                                nametag-transform="follow: .Head"
                                text="side: double; align: center; color: #ddd"
                                position="0 2.5 0"
                                scale="6 6 6"
                            ></a-entity>
                        </a-entity>
                    </template>

                    <template data-selector=".Body">
                        <a-entity body-controller="eyeNeckOffset: 0 -0.11 0.09; neckHeight: 0.05" ></a-entity>
                    </template>

                    <template selector=".LeftHand">
                        <a-entity personal-space-invader bone-visibility ></a-entity>
                    </template>

                    <template data-selector=".RightHand">
                        <a-entity personal-space-invader bone-visibility ></a-entity>
                    </template>
                </a-gltf-entity>
            </template>
        </a-assets>

        <!-- Player Rig -->
        <a-gltf-entity
            id="player-rig"
            src="#bot-skinned-mesh"
            inflate="true"
            networked="template: #remote-avatar-template; attachLocalTemplate: false;"
            spawn-controller="radius: 4;"
            wasd-to-analog2d
            character-controller="pivot: #head"
        >
            <template data-selector=".Head">
                <a-entity
                    id="head"
                    camera="userHeight: 1.6; active: true;"
                    personal-space-bubble
                    look-controls
                    visible="false"
                >
                    <a-entity
                        class="nametag"
                        nametag-transform="follow: .Head"
                        text="side: double; align: center; color: #ddd"
                        position="0 2.5 0"
                        scale="6 6 6"
                    ></a-entity>
                </a-entity>
            </template>

            <template data-selector=".Chest">
                <a-entity
                    id="body"
                    body-controller="eyeNeckOffset: 0 -0.11 0.09; neckHeight: 0.05"
                ></a-entity>
            </template>

            <template data-selector=".LeftHand">
                <a-entity
                    id="left-hand"
                    hand-controls2="left"
                    tracked-controls
                    haptic-feedback
                    teleport-controls="cameraRig: #player-rig; teleportOrigin: #head; button: action_teleport_"
                    bone-visibility
                >
                    <a-entity
                        id="watch"
                        cached-gltf-model="#watch-model"
                        bone-mute-state-indicator
                        position="-0.003 0.009 0.085"
                        rotation="-79.12547150756669 -160.1417037390651 -100.1530225888679"
                        scale="1.5 1.5 1.5"
                    >
                    </a-entity>
                </a-entity>
            </template>

            <template data-selector=".RightHand">
                <a-entity
                    id="right-hand"
                    hand-controls2="right"
                    haptic-feedback
                    teleport-controls="cameraRig: #player-rig; teleportOrigin: #head; button: action_teleport_;"
                    bone-visibility
                ></a-entity>
            </template>
        </a-gltf-entity>

        <!-- Environment -->
        <a-entity
            id="meeting-space"
            cached-gltf-model="#meeting-space1-mesh"
            position="0 0 0"
        ></a-entity>

        <a-entity
            id="outdoor-facade"
            cached-gltf-model="#outdoor-facade-mesh"
            position="0 0 0"
        ></a-entity>

        <a-entity
            id="floor-nav"
            cached-gltf-model="#floor-nav-mesh"
            visible="false"
            position="0 0 0"
        ></a-entity>

        <a-entity
            id="cliff-vista"
            cached-gltf-model="#cliff-vista-mesh"
            layers="reflection:true"
            position="0 0 0"
        ></a-entity>

        <a-entity id="skybox"
            id="skybox"
            scale="8000 8000 8000"
            skybox="azimuth:0.280; inclination:0.440"
            light="type: ambient; color: #FFF"
            layers="reflection:true"
        ></a-entity>

        <a-entity
            id="water"
            water="normalMap:#water-normal-map"
            rotation="-90 0 0"
            position="0 -88.358 -332.424"
        ></a-entity>
    </a-scene>

    <script>
        document.querySelector('a-scene').addEventListener('loaded', App.onSceneLoad)
    </script>
</body>

</html>
